ul.errorlist {display: none;}

.fixed-bottom-right {
    position: fixed;
    bottom: 20px; /* Distance from bottom */
    right: 20px; /* Distance from right */
    z-index: 1050; /* Ensure it stays on top */
  }